* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}
body {
	text-align: center;
	width:100%;
	height:100%;
}
.wrapper {
	max-width: 100%;
	width:100%;
	margin: 0 auto;
}
.header {
	height: 50px;
	background: black;
	width: 100%;
	z-index: 10;
	position: fixed;
	margin: 0;
	font-family: 'Source Sans Pro';
}
a{
	text-decoration:none;
	color:white;
}
.navbar{
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	padding: 8px 12px;
}
.navbar_logo{
	font-size:24px;
	color:white;
}
.navbar_logo i{
	color: orange;
}
.navbar_menu{
	display:flex;
	list-style:none;
	padding-left: 0;
}
.navbar_menu li{
	padding: 8px 12px;
}
.navbar_icons{
	display:flex;
        list-style:none;
	color:white;
	padding-left: 0;
}
.navbar_icons li{
	padding: 8px 12px;
}
.navbar_menu li:hover{
	background-color: orange;
	border-radius:4px;
}
.navbar_toogleBtn{
	position:absolute;
	right:32px;
	padding:5px 5px;
	display:none;
	font-size:24px;
	color: orange;
}
@media screen and (max-width: 767px){
	
        .navbar{
                flex-direction:column;
                align-items:flex-start;
                padding: 8px 24px;
        }
        .navbar_menu{
                display:none;
                flex-direction:column;
                align-items:center;
                width:100%;
        }
        .navbar_menu li{
                width: 100%;
                text-align: center;
        }
        .navbar_icons{
                display:none;
                justify-content:center;
                width:100%;
        }
        .navbar_toogleBtn{
                display:block;
        }
        .navbar_menu.active,
        .navbar_icons.active{
                display:flex;
        }

	
}
@media screen and (min-width: 768px) and (max-width : 991px) {


}

