
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

body {
	text-align: center;
}
.wrapper {
	max-width: 100%;
	width:100%;
	margin: 0 auto;
}
header {
	height: 50px;
	background: rgba(0,0,0,0);
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	max-width:30%;
	width: 30%;
	float: left;
	line-height: 50px;
	
}
.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	max-width:45%;
	width:45%;
	float: right;
	line-height: 50px;
}
nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}
.search-area {
	max-width: 100%;
	width:100%;
	height: 100%;
	position: fixed;
	-webkit-background-size: cover;
	background-repeat :no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	
}
.search-area h2 {
	padding-top: 8%;
	font-size: 7rem;
	font-family: poppins;
	text-transform: uppercase;
	color: #ffeb3b;
	text-shadow:5px 5px skyblue;
}

video{
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;	
	z-index: -1;
}
.input{
	height: 50px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	outline:none;
}
.txt{
	width:500px;
}
.search-btn{
	height: 50px;
	width: 150px;
	background: #ffeb3b;
	border:none;
	color: #000;
	border-radius:10px;
}
.search-btn:hover{
	background: #ffc107;
	cursor:pointer;
}
.boxContainer{
	padding-top:3%;
}
select{
	background: #ffeb3b;
	padding: 10px;
	width: 100px;
	height: 50px;
	border: none;
	color:#000;
	border-radius:10px;
}
select:hover{
	background: #ffc107;
	cursor:pointer;
}
#map{
	width:100%;
	height:100%;
}
.covid{
	width:100%;
	height:40px;
	line-height:40px;
	
}
.right{
	width: 55%;
	height: 100%;
	float: right;
}
.left-right{
	width: 100%;
        height: 80%;
}
.left{
	width:45%;
	height:100%;
	float:left;	
}
.table-area{
	width:100%; 
	height:10%; 
	overflow-x:auto;
	
}
/*
.tour-title{
	width:100%;
        height:50px;
        line-height:50px;
}
*/
.tour-info{
        width: 100%;
        height: 100%;
	overflow-y:auto;
}
.list{
	/*
	list-style:none;
	position: relative;
	width: 100%;
	margin : 10px auto 0;
	padding: 10px;
	box-sizing: border-box;
	*/
	overflow-y:auto;
}
.covid-header{
	width:100%;
	height:5%;
}
